.progress {
  color: #d8dcf0 !important;
}

.direction {
  display: flex;
  justify-content: center;
  height: 100%;
}
.Image {
  position: absolute;
  z-index: 9;
  margin-top: 6rem;
  transform: translateX(-25rem);
  width: 22rem;
  height: 18rem;
  filter: brightness(85%);
}
.form {
  text-align: left;
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  gap: 10px;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}
.introductionTitle {
  color: #002884;
  font-size: 2.5rem;
  font-weight: 600;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 300px;
  background-color: white;
  color: #3f50b5;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.tooltiplabe {
  display: block;
  // margin: 0 0 0.28571429rem 0;
  color: #002884;
  font-size: 1.1rem;
  font-weight: 700;
  text-transform: none;
  margin-top: 1rem;
}

.circleIcon {
  color: #002884;
  border: #d8dcf0;
  background-color: #d8dcf0;
  cursor: pointer;
}
.description {
  font-style: oblique;
  font-size: 0.9rem;
}
