
.components_pageData__bLzbG {
  margin: 0 auto;
  height: auto;
}

.description {
  display: flex;
  justify-content: space-between;
}
.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 2rem;
}
.createAuction {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
.image {
  background: url(cryptoWallet.jpg);
  border-radius: 4rem;
}
.introduction {
  margin: 0 auto;
  // border: 1px solid #101070;
  text-align: center;
  float: none;
}
.introductionText {
  margin-bottom: 2rem;
  width: 100%;
  text-align: left;
  color: #3f50b5;
  font-size: 1.2rem;
}
.introductionTitle {
  color: #002884;
  font-size: 2.5rem;
  font-weight: 600;
}
.headerCell {
  color: #3f50b5;
  font-size: 1rem;
  font-weight: 600;
}

.loadingContainer {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: white;
  border-radius: 30px;
  padding: 30px;
  margin: 0 auto;
  text-align: center;
  font-size: larger;
}


.viewAuctionBtn{
  border-radius: 20px;
  background: #002884;
}