


.metamaskContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:0;
    height: 100%;
    padding: 40px;
    gap: 70px;
}

.metamaskImage{
    width:30%;
    height:100%;

}
.metamaskimg {
    border-radius: 2rem;
}
.metamaskQuestion{
    height:100%;
}
.metamaskTitle {
    color: #002884;
    font-size: 2.5rem;
    font-weight: 600;
    padding-bottom:1.5rem;
}
.metamaskText {
    text-align: left;
    color: #3f50b5;
    font-size: 1.2rem;
    padding-top:0.8rem;
}
.metamaskButtons{
    color: #002884;
    padding-right:5rem;
    padding-top:3rem;
    display: flex;
    justify-content: space-around;
}

.metamaskVideo{

    width: 100%;
    margin: 0 auto;
}   

